:root{
    --pri:#F8F4E1 ;
    --sec:#4E1F00 ;
    --tr1:#FEBA17 ;
    --tr2:#74512D;
    --black:#000;
    --green:#02cd02;
    --blue:#1cdcd9;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family:aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}
*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;

}
html,body{
     height:100%;
     width: 100%;
     color: #fff;
}
#main{
    height:100%;
    width: 100%;
    background-color: var(--sec);
    font-family: aeonik;
    position: relative;

}


nav {

       
    top: 0;
    z-index: 99;
    height: 20px;
    width: 100%;
    padding: 30px 40px;
  

}

.nav-in {

     background-color: var(--tr2);
       padding: 1rem;
       border-radius: 9px;
       display: flex;
       align-items: center;
       justify-content: space-between;
    
}

.nav-in h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.theme {

    background-color: var(--pri);
    padding: 12px 20px;
    border-radius: 10px;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;

}

.theme h4 {
    color: var(--sec);
    font-weight: 700;
    font-size: 20px;
    pointer-events: none;
    text-transform: uppercase;
   
}

.theme:active {
    scale: 0.96;
}



 section.allelems{
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: auto;
    position: absolute;
 }
 .allelems header{

     width: 100%;
     height: 20vw;
     background-image: url('https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
     background-position: center;
     background-size: cover;
     margin-bottom: 2rem;
     margin-top: 2rem;
     border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
 }

 

  header .header1 h1{
    font-size: 4vw;
    font-weight: 700;
 }
  header .header1 h2{
    font-size: 3vw;
    font-weight: 200;
 }
  header .header1 h4{
    font-size: 3.5vw;
    font-weight: 200;

 }
header .header2 h3{
    font-size: 1.5vw;
    font-weight: 200;
    opacity: 0.8;
 }
 header .header2 h2{
    font-size: 3vw;
    font-weight: 700;
 }
header .header2 h4{
    font-size: 2.5vw;
    font-weight: 500;
 }

  
 .allelems .allFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 40px;


 }


  .elems{
    width: 16rem;  
    height: 300px;
     font-size: 20px;
     overflow: hidden;
     border-radius: 10px;
     cursor: pointer;
     transition: all ease 0.2s;
     position: relative;

  }
  .elems:active{

     scale:0.97;
  }
  .elems img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .elems h2{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 25px;
    font-weight: 500;
    color:white;

  }



  section.fullElem{
    width: 100%;
    height: 100%;
     color: white;
     background: var(--sec);
     padding: 20px;
     display: none;
     position: absolute;
     top: 0;
  }

  .back{
    position: absolute;
    font-size: 25px;
    right: 5%;
    top: 5%;
    padding: 11px 15px;
    border-radius: 9%;
    background-color: var(--tr1);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 200;
    transition:  all ease 0.2s;
  }

  .back:active{
     scale: 0.95;
  }

  /* fullPages design one by one  */

  /** first is todo list page design  */
   
  .todo-list-fullPage{
    
     display: block;
  }

.todo-list-fullPage h2{

    font-size:60px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 20px;
  
}
.todo-list-fullPage .todo-container{

   height: 80%;
   width: 100%;
   /* background-color: var(--tr1); */
   display: flex;
   padding: 20px;
   align-items: center;
   justify-content: space-between;
}

.todo-list-fullPage .todo-container .addTask{

    height: 100%;
    width: 40%;
    background-color: var(--tr2);
    border-radius: 15px;

}
.todo-list-fullPage .todo-container .addTask form{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    padding: 40px;
   justify-content: space-between;
  
   
}

.todo-list-fullPage .todo-container .addTask form #task-title{

    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: none;
    outline: none;
    padding: 2px 10px;
    background-color:var(--sec);
    font-size: 20px;
    font-weight: 200;
    color: #FEBA17;
    text-transform: capitalize;
}

.todo-list-fullPage .todo-container .addTask form textarea{

    width: 100%;
    
    border-radius: 9px;
    height: 300px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color:var(--sec);
    font-size: 20px;
    font-weight: 200;
    color: #FEBA17;
}
.todo-list-fullPage .todo-container .addTask form .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    font-size: 20px;
    font-weight: 200;
    color: var(white);
}


.todo-list-fullPage .todo-container .addTask form button{

    width: 100%;
    
    border-radius: 9px;
    height: 50px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color:var(--tr1);
    color: white;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
   
}


.todo-list-fullPage .todo-container .allTask{
    height: 100%;
    width: 58%;
    background-color: var(--tr2);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow:auto;
}
.todo-list-fullPage .todo-container .allTask::-webkit-scrollbar{
    display: none;

}



.todo-list-fullPage .todo-container .allTask .task{
     width: 100%;
     background-color: var(--tr1);
     border-radius: 9px;
     padding: 5px 8px ;
     display: flex;
     align-items: center;
     justify-content: space-between;


}
.todo-list-fullPage .todo-container .allTask .task h3{
    font-size: 25px;
    font-weight: 500;
    color: var(--sec);
    padding: 10px;
}
.todo-list-fullPage .todo-container .allTask .task span{
    background-color: red;
    color: white;
    padding: 5px 8px;
    border-radius: 9px;
    font-size: 15px;
    margin-left: 10px;

}
.todo-list-fullPage .todo-container .allTask .task span.true{
    opacity: 1;
}
.todo-list-fullPage .todo-container .allTask .task span.false{
    opacity: 0;
}


.todo-list-fullPage .todo-container .allTask .task h4{
     font-size: 20px;
    font-weight: 500;
    color: var(--tr2);
    padding: 10px;
}
.todo-list-fullPage .todo-container .allTask .task button{

    background-color: green;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 9px ;
    cursor: pointer;

}

.todo-list-fullPage .todo-container .allTask .task button:active{
    scale: 0.97;
    cursor: pointer;
}


 section.daily-planner-fullPage{
    padding:30px;
   

   
    
}
.daily-planner-fullPage  h2{

      font-size: 60px;
      font-weight: 700;

}

.daily-planner-fullPage .day-planner{
    width:100%;
    height: 85%;
    background-color: var(--tr2);
    margin-top: 20px;
    padding: 20px;
    border-radius: 9px;
     overflow: auto;
     flex-wrap: wrap;
       display: flex;
       align-items: flex-start;
       justify-content: space-between;

}
.daily-planner-fullPage .day-planner::-webkit-scrollbar{
    display: none;
}


 .daily-planner-fullPage .day-planner .day-plnr-time{


     position: relative;
     width: 49%;
     display: flex;
     margin-bottom: 14px;
     
   

  
 }
 .day-plnr-time p{
    color: var(--sec);
     position: absolute;
     font-size: 20px;
     top:5%;
     left:2%;

 }

 .day-plnr-time input{
    width: 100%;
    background: var(--pri);
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--sec);
    font-weight: 500;
    font-size: 25px;

 }

 /* daily planner Page */

 .motivation-fullpage-container{

      height: 100%;
      width: 100%;
      border:2px solid var(--tr2);

 }

 .moti-fullPage .moti-container{

    height: 500px;
    width: 80%;
    /* background: var(--tr2); */
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 50px;


 }
 .moti-fullPage .moti-container::after{
     
     content: '';
     height: 100%;
     width: 100%;
     position: absolute;
     background-color: var(--tr1);
     border-radius: 50px;
     scale: 1.2;
     z-index: 8;
     filter: blur(150px);

 }

 .moti-fullPage .moti-container .motivation-wrapper{

     z-index: 10;
     position: absolute;
     width: 100%;
     position: absolute;
     border-radius: 20px;
     background-color: var(--tr1);
     padding: 10px;
     border: 5px solid var(--sec);

     
 }
 .motivation-1{
   
     display: flex;
     align-items: center;
     justify-content: flex-start;
 }

 .motivation-1 h2{
  
   width: fit-content;
   font-weight: 500;
   text-align: right;
   background-color: var(--tr2);
   padding: 20px;
   border-radius: 20px;
   font-size: 30px;
     
 }
 .motivation-2{
    padding: 40px;

 }

 .motivation-2 h1{
    font-size: 45px;
    font-weight: 500;
    color: var(--sec);
 }

 .motivation-3{

     display: flex;
     align-items: center;
     justify-content: flex-end;

 }

 .motivation-3 h2{
  
   width: fit-content;
   font-weight: 500;
   text-align: right;
   background-color: var(--tr2);
   padding: 20px;
   border-radius: 20px;
   font-size: 30px;
     
 }


 
 section.pomodoro-fullpage{
    background-color: var(--sec);
 }
.pomodoro-fullpage h2 {
    font-size: 50px;
}

.pomodoro-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 170px;
}

.pomo-timer button{
    background-color: var(--tr2);
    padding: 15px 40px;
    font-size: 32px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 7px 7px 0px var(--black);
    box-shadow: 7px 7px 0px var(--black);
    -webkit-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
    font-weight: 700;
    cursor: pointer;
}

.pomo-timer button:active {
    -webkit-box-shadow: 0px 0px 0px var(--black);
    box-shadow: 0px 0px 0px var(--black);

}

.pomodoro-fullpage .session {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: var(--green);
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 5px;
}







